{% load static %}


    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> 
    
    
    <!-- fonts -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" >
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    
    
    
    
    
    <style>
    .dropdown-toggle{
        color: #89B4A1;
        }
        
        .dropdown-menu{
        background-color: #DBECD9;
        }
    </style>
    

</head>
<body>
    <div class="Accueil" style="width: 1514px; height: 3030px; position: relative; background: #FEFFF9">
       
        <div class="Footer" style="width: 1514px; height: 520px; left: 6px; top: 3010px; position: absolute">
            <div class="Footer" style="width: 1514px; height: 533px; left: 0px; top: 0px; position: absolute; background: #509375"></div>
            <img class="NutrisycHighResolutionLogoBlackOnTransparentBackground2" style="width: 240px; height: 143px; left: 123px; top: 96px; position: absolute; " src="{% static 'css/images/nutrisyc-high-resolution-logo-black-on-transparent-background 2.png' %}" />
            <div class="QueTonAlimentSoitTaSeuleMDecineHippocrate" style="width: 461px; left: 13px; top: 343px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Abhaya Libre Medium; font-weight: 500; word-wrap: break-word">"Que ton aliment soit ta seule médecine." - Hippocrate<br/></div>
            <div class="Healthylife" style="left: 612px; top: 138px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Abhaya Libre Medium; font-weight: 500; word-wrap: break-word">HealthyLife</div>
            <div class="ProposDeNous" style="left: 612px; top: 212px; position: absolute; text-align: center; color: white; font-size: 23px; font-family: Abhaya Libre Medium; font-weight: 500; word-wrap: break-word">à propos de nous </div>
            
            <a href="cal_calc">
              <div class="Calculercalories" style="left: 612px; top: 254px; position: absolute; text-align: center; color: white; font-size: 23px; font-family: Abhaya Libre Medium; font-weight: 500; word-wrap: break-word">CalculerCalories</div>
            </a>
            
            
            <div class="Contact" style="left: 612px; top: 300px; position: absolute; text-align: center; color: white; font-size: 23px; font-family: Abhaya Libre Medium; font-weight: 500; word-wrap: break-word">Contact </div>
            <div class="2023HealtylifeTousDroitsRServS" style="left: 573px; top: 466px; position: absolute; text-align: center; color: black; font-size: 23px; font-family: Abhaya Libre Medium; font-weight: 500; word-wrap: break-word">© 2023 HealtyLife. Tous droits réservés.<br/></div>
          </div>
          <img class="CaptureAutoX21" style="width: 1514px; height: 878px; left: 0px; top: -1px; position: absolute; border: 1.50px solid" src="{% static 'css/images/Capture_Auto_X2 1.png' %}" />
          <div class="YouAreWhatYouEat" style="width: 778px; height: 90px; left: 380px; top: 260px; position: absolute; text-align: center; color: #90B8A7; font-size: 70px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">You Are What You Eat !</div>
          <div class="TransformezVotreAlimentationTransformezVotreVieAvecHealthylife" style="width: 768px; left: 390px; top: 361px; position: absolute; text-align: center"><span style="color: black; font-size: 45px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">Transformez votre alimentation, transformez votre vie avec </span><span style="color: #B82D3A; font-size: 45px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">HealthyLife</span></div>
      
       
       
       
        <div class="Header" style="width: 1514px; height: 111px; position: relative">
            <div class="Header" style="width: 1440px; height: 111px; left: 0px; top: 0px; position: absolute; background: rgba(254, 255, 249, 0)"></div>
            <img class="NutrisycHighResolutionLogoBlackOnTransparentBackground1" style="width: 102px; height: 56px; left: 65px; top: 25px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) " src="{% static 'css/images/nutrisyc-high-resolution-logo-black-on-transparent-background 1.png' %}" alt="Image description" />
            <a href="first">
                <div class="Accueil" style="left: 521px; top: 37px; position: absolute; color: #DBECDA; font-size: 20px; font-family: Knewave; font-weight: 400; word-wrap: break-word">Accueil </div>
            </a>
             
             
             <a href="cal_calc">   
             
                <div class="Calculercalories" style="left: 636px; top: 39px; position: absolute; color: #89B4A1; font-size: 20px; font-family: Knewave; font-weight: 400; word-wrap: break-word">CalculerCalories</div>
             </a>
            
            <nav class="navbar" style="left: 1015px; top: 18px; position: absolute; color: #89B4A1; font-size: 20px; font-family: Knewave; font-weight: 400; word-wrap: break-word">
        
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    profile
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/profile">Calories history</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
          </div>
        </nav> 
            
            
            <!-- <div class="Contact" style="left: 1043px; top: 39px; position: absolute; color: #89B4A1; font-size: 20px; font-family: Knewave; font-weight: 400; word-wrap: break-word">Contact</div> -->
            <div class="ProposDeNous" style="left: 833px; top: 39px; position: absolute; color: #89B4A1; font-size: 20px; font-family: Knewave; font-weight: 400; word-wrap: break-word">à propos de nous</div>
           <a href="register">
               <div class="SIdentifier" style="left: 1167px; top: 39px; position: absolute; color: #89B4A1; font-size: 20px; font-family: Knewave; font-weight: 400; word-wrap: break-word">S’identifier</div>              
           </a>
           <a href="login">
            <div class="SeConnecter" style="left: 1322px; top: 39px; position: absolute; color: #89B5A1; font-size: 20px; font-family: Knewave; font-weight: 400; word-wrap: break-word">Se connecter</div>
           </a>
        </div>
    </div>

    <a href="/index">
        <div class="button" style="width: 508px; height: 108px; left: 505px; top: 541px; position: absolute;border-radius: 40px; box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.25)">
            <div class="Rectangle1" style="width: 508px; height: 108px; left: 0px; top: 0px; position: absolute; background: #509375; border-radius: 40px"></div>
            <div class="CommencezVotrePlanificationDSMaintenant" style="width: 520px; height: 88px; left: -12px; top: 20px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">    Commencez votre planification dès maintenant !   </div>
          </div>
    </a>
    
    
    <div class="Apropos" style="width: 1514px; height: 818px; left: 2px; top: 898px; position: absolute; background: white">
        <div class="Rectangle4" style="width: 1514px; height: 894px; left: 0px; top: 0px; position: absolute; background: #FEFFF9"></div>
        <div class="NousSommesRavisDeVous" style="width: 602px; height: 436px; left: 784px; top: 235px; position: absolute; text-align: justify; color: black; font-size: 36px; font-family: Abhaya Libre; font-weight: 700; letter-spacing: 0.72px; word-wrap: break-word">
        Nous sommes ravis de vous accueillir dans notre application web de nutrition, conçue pour vous aider à atteindre vos objectifs de santé et de bien-être. Chez HealthyLife, nous croyons fermement que la nutrition joue un rôle crucial dans votre bien-être global, et nous sommes là pour vous accompagner tout au long de votre parcours vers une vie plus saine.</div>
        <img class="Rectangle3" style="width: 596px; height: 577px; left: 128px; top: 149px; position: absolute" src="{% static 'css/images/Rectangle 3.png'  %}" />
        <div class="QuiSommeNous" style="width: 778px; height: 90px; left: 368px; top: 13px; position: absolute; text-align: center"><span style="color: #B82D3A; font-size: 50px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">Q</span><span style="color: #90B8A7; font-size: 50px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">ui Somme nous? </span></div>
        <div class="Line1" style="width: 74px; height: 0px; left: 644px; top: 161px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 2px #B82D3A solid"></div>
      </div>
    
      
      <div class="LesOutilsPourVosObjectifs" style="width: 1514px; height: 870px; left: 0px; top: 1712px; position: absolute">
        <div class="Frame1" style="width: 178px; height: 157px; left: 58px; top: 128px; position: absolute; ">
         <img   src="{% static 'css/images/frame 1.jpg' %}" style="width: 150px; height: 149px; left: 20px; top: 20px; position: absolute"/>     
         <!-- <div class="Vector" style="width: 121px; height: 95px; left: 27px; top: 31px; position: absolute;  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"></div> -->
        </div>
        <div class="Frame3" style="width: 174px; height: 157px; left: 795px; top: 129px; position: absolute">
          <div class="Ellipse2" style="width: 174px; height: 157px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 9999px"></div>
          
          
          <div class="IconParkSolidMarketAnalysis" style="width: 130px; height: 117px; left: 22px; top: 20px; position: absolute">
            
            <div class="MaskGroup" style="width: 108.33px; height: 78px; left: 10.83px; top: 19.50px; position: absolute">
              <div class="Group" style="width: 108.33px; height: 78px; left: 0px; top: 0px; position: absolute">
                <div class="Vector" style="width: 108.33px; height: 29.25px; left: 0px; top: 0px; position: absolute; background: white; border: 2px white solid"></div>
                <div class="Vector" style="width: 84.71px; height: 31.76px; left: 0.30px; top: 43.88px; position: absolute; border: 2px white solid"></div>
                <div class="Vector" style="width: 86.67px; height: 53.62px; left: 21.67px; top: 24.38px; position: absolute; border: 2px white solid"></div>
                <!-- <div class="Vector" style="width: 70.42px; height: 0px; left: 19.26px; top: 14.62px; position: absolute; border: 2px black solid"></div> -->
                <div class="Vector" style="width: 0px; height: 21.94px; left: -0px; top: 24.38px; position: absolute; border: 2px white solid"></div>
              </div>
              <img src="  {% static 'css/images/icon-park-solid_market-analysis.png' %} " style="width: 130px; height: 117px; left: -10.83px; top: -19.50px; position: absolute"  >
              <!-- <div class="Vector" background: #80A997"></div> -->
            </div>
          </div>
        </div>
        <div class="Frame4" style="width: 174px; height: 157px; left: 58px; top: 542px; position: absolute">
          <div class="Ellipse2" style="width: 174px; height: 157px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 9999px"></div>
          <div class="FluentMdl2HealthSolid" style="width: 121px; height: 116px; left: 27px; top: 29px; position: absolute">
            <div class="Vector" style="width: 120.88px; height: 101.56px; left: 0.06px; top: 7.25px; position: absolute; background: #80A997"></div>
            <img   src="{% static 'css/images/fluent-mdl2_health-solid.jpg' %}"style="width: 120.88px; height: 101.56px; left: 0.06px; top: 7.25px; position: absolute"/>
          </div>
        </div>
        
        
        
        <div class="Frame5" style="width: 174px; height: 157px; left: 795px; top: 329px; position: absolute">
          <!-- <div class="Ellipse3" style="width: 174px; height: 157px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)"></div> -->
          
          <img src="{% static 'css/images/Frame 5.png' %}" style="width: 190px; height: 167px; left: -10px; top: -1px; position: absolute" >
          
          <!-- <div class="Vector" style="width: 95px; height: 103px; left: 39px; top: 27px; position: absolute; background: #80A997"></div> -->
        </div>
        
        
        
        
        <div class="Frame6" style="width:121px; height: 116px; left: 795px; top: 543px; position: absolute">
          <div class="Ellipse3" style="width: 174px; height: 157px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)"></div>
          <div class="GameIconsProgression" style="width: 121px; height: 116px; left: 33px; top: 25px; position: absolute">
            
            
            <!-- <div class="Vector" style="width: 97.22px; height: 98.44px; left: 4.56px; top: 4.28px; position: absolute; background: #80A997"></div> -->
            <img src="{% static 'css/images/game-icons_progression.png' %}" style="width: 97.22px; height: 98.44px; left: 4.56px; top: 4.28px; position: absolute">
            
          </div>
        </div>
        <div class="Frame2" style="width: 174px; height: 157px; left: 58px; top: 335px; position: absolute">
          <div class="Ellipse2" style="width: 174px; height: 157px; left: 0px; top: 0px; position: absolute; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 9999px; border: 0.2px "></div>
          <div class="PajamasPlanning" style="width: 110px; height: 91px; left: 32px; top: 33px; position: absolute; ">
            <div class="Vector" style="width: 103.33px; height: 85px; left: 6.67px; top: 6px; position: absolute;"></div>
            <img   src="{% static 'css/images/pajamas_planning.jpg' %}" style="width: 103.33px; height: 85px; left: 6.67px; top: 6px; position: absolute;"/>
          </div>
        </div>
        <div class="SuiviDesRepasGardezUneTraceDeCeQueVousMangez" style="width: 386px; left: 270px; top: 182px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">Suivi des repas : Gardez une trace de ce que vous mangez.</div>
        <div class="PlanificationDeRepasSimplifiezVosMenusEtVosCourses" style="width: 391px; left: 270px; top: 393px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">Planification de repas : Simplifiez vos menus et vos courses.</div>
        <div class="ObjectifsDeSantFixezVousDesObjectifsPersonnels" style="width: 463px; left: 232px; top: 601px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">Objectifs de santé : Fixez-vous des objectifs personnels.<br/></div>
        <div class="JournalAlimentaireTenezUnJournalDeVosHabitudesAlimentaires" style="width: 475px; left: 984px; top: 376px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">Journal alimentaire : Tenez un journal de vos habitudes alimentaires.<br/></div>
        <div class="TableauDeBordPersonnalisVisualisezVosProgrSEnUnCoupDIl" style="width: 476px; left: 989px; top: 598px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">Tableau de bord personnalisé : Visualisez vos progrès en un coup d'œil.<br/></div>
        <div class="LesOutilsPourVosObjectifs" style="width: 778px; height: 90px; left: 368px; top: 38px; position: absolute; text-align: center"><span style="color: #B82D3A; font-size: 50px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">L</span><span style="color: #89B5A1; font-size: 50px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">es outils pour vos objectifs</span></div>
        <div class="Line1" style="width: 74px; height: 0px; left: 539px; top: 97px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 2px #B82D3A solid"></div>
        <div class="AnalyseNutritionnelleComprenezCeQueVousConsommez" style="width: 480px; height: 95px; left: 984px; top: 179px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">Analyse nutritionnelle : Comprenez ce que vous consommez.<br/></div>
        
          <div class="RejoignezHealthyli" style="width: 1066px; left: 224px; top: 761px; position: absolute; text-align: center; color: black; font-size: 35px; font-family: Abhaya Libre ExtraBold; font-weight: 800; word-wrap: break-word">Rejoignez HealthyLife dès aujourd'hui pour améliorer votre alimentation et atteindre vos objectifs de santé."</div>
        </div>
        
        
        <a href="/index">
          <div class="button" style="width: 408px; height: 88px; left: 550px; top: 2641px; position: absolute;border-radius: 40px; box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.25)">
              <div class="Rectangle1" style="width: 408px; height: 90px; left: 0px; top: 0px; position: absolute; background: #509375; border-radius: 40px"></div>
              <div class="CommencezVotrePlanificationDSMaintenant" style="width: 420px; height: 88px; left: -20px; top: 20px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Abhaya Libre ExtraBold; font-weight: 600; word-wrap: break-word">    Inscrire Maintenant!   </div>
            </div>
      </a>
        
        
    

</body>
</html>